.menu{
    color: #d5d5d5;
    font-weight: 700;
    cursor: pointer;
}
.menu:hover{
    color: white;
}
.active{
    color: white;
}
.custom-scroll::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb{
    position: absolute;
    background: gray;
    opacity: 0.5;
    display: none;
    
}
.custom-scroll:hover::-webkit-scrollbar-thumb{
    display: block;
}
